
#header{
    color: darkblue;
    height: 25%;
    line-height:30px;
    text-align:center;
    border-bottom:2px solid black;
    padding:15px;
}

#footer2 {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    height: 50px;
    padding: 5px;

}


#sum {
    height: 550px;
    color: darkblue;
    border: 2px solid black;
    border-top: 1px solid black;
    border-bottom: 0px solid black;
}

#body {
    height: 550px;
    color: darkblue;
    border: 2px solid black;
    border-top: 1px solid black;
    border-bottom: 0px solid black;

}


